/bin/
/build/
/dist/
*.exe
*.dll
*.so
*.dylib

*.log
*.tmp
*.out

*.db
*.sqlite

.env
.env.*

vendor/
*.test

.vscode/
.idea/
*.swp
.DS_Store

**/.cache/
**/.golangci.yml

docs/

coverage.out


# dependencies
*/node_modules
*/.pnp
.pnp.js

# testing
*/coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*
