services:
  frontend:
    profiles: ["old-frontend"]
    container_name: ft-frontend-dev
    image: ft-frontend-dev:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

  frontend-native:
    profiles: ["new-frontend"]
    container_name: ft-frontend-native-dev
    image: ft-frontend-native-dev:latest
    build:
      context: ./frontend-native
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8081:8081"
    depends_on:
      - backend
    volumes:
      - ./frontend-native:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: >
      sh -lc '
      npm install &&
      npm run web
      '

  backend:
    container_name: ft-backend-dev
    image: ft-backend-dev:latest
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./backend:/app

  db:
    container_name: ft-db-dev
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    container_name: ft-redis-dev
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      sh -lc '
      exec redis-server
      --appendonly yes
      --save 60 1000
      --requirepass "$$REDIS_PASSWORD"
      '
    env_file:
      - .env.dev
    volumes:
      - ./data/redis:/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          'sh -lc ''redis-cli $${REDIS_PASSWORD:+-a "$$REDIS_PASSWORD"} ping | grep PONG''',
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    container_name: ft-pgadmin-dev
    image: dpage/pgadmin4
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_healthy
