services:
  frontend:
    container_name: ft-frontend-dev
    image: ft-frontend-dev:latest
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
      - redis
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
  backend:
    container_name: ft-backend-dev
    image: ft-backend-dev:latest
    build: 
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - ./backend:/app
   
  db:
    container_name: ft-db-dev
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data

  redis:
    container_name: ft-redis-dev
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      sh -c "redis-server
      --appendonly yes
      --save 60 1000
      ${REDIS_PASSWORD:+--requirepass $REDIS_PASSWORD}"
    
    env_file:
      - .env.dev
    volumes:
      - ./data/redis:/data
  
  pgadmin:
    container_name: ft-pgadmin-dev
    image: dpage/pgadmin4
    restart: unless-stopped
    env_file:
      - .env.dev
    ports:
      - "5050:80"
    depends_on:
      - db

