services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
  backend:
    build: 
      context: .
      dockerfile: deployment/Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://username:password@db:5432/fitness_tracker?sslmode=disable
      PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - .:/app
   
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fitness_tracker
    volumes:
      - ./data/db:/var/lib/postgresql/data
  
