@import "tailwindcss";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.card {
  @apply max-w-3xl sm:mx-auto mx-3 bg-white rounded-2xl shadow-lg p-8 mt-6;
}

.btn {
  @apply font-semibold px-4 py-2 rounded-lg transition shadow focus:outline-none hover:scale-102;
}

.btn-primary {
  @apply font-semibold bg-gradient-to-r from-blue-600 to-blue-500 text-white;
}

.btn-primary-inverted {
  @apply font-semibold bg-gradient-to-l from-blue-600 to-blue-500 text-white;
}

.btn-primary-light {
  @apply font-semibold bg-gradient-to-r from-blue-600 to-blue-500 text-transparent bg-clip-text;
  @apply border-2 border-blue-600/70 backdrop-blur bg-white;
}

.btn-danger {
  @apply font-semibold bg-gradient-to-r from-pink-600 to-red-500 text-white;
}

.btn-danger-light {
  @apply font-semibold bg-gradient-to-r from-pink-400 to-red-400 text-transparent bg-clip-text;
  @apply border-2 border-pink-400/70 backdrop-blur bg-white;
}

.btn-secondary {
  @apply font-semibold bg-gradient-to-r from-gray-600 to-gray-500 text-white;
}

.btn-secondary-light {
  @apply font-semibold bg-gradient-to-r from-gray-500 to-gray-400 text-transparent bg-clip-text;
  @apply border-2 border-gray-500/70 backdrop-blur bg-white;
}

.btn-warning {
  @apply font-semibold bg-gradient-to-r from-yellow-600 to-yellow-500 text-white;
}

.btn-success {
  @apply font-semibold bg-gradient-to-r from-green-500 to-green-600 text-white;
}

.btn-success-light {
  @apply font-semibold bg-gradient-to-r from-green-400 to-green-500 text-transparent bg-clip-text;
  @apply border-2 border-green-400/70 backdrop-blur bg-white;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
  20%, 40%, 60%, 80% { transform: translateX(3px); }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.animate-shake {
  animation: shake 0.6s;
}

.animate-spin-slow {
  animation: spin 1.2s linear infinite;
}
