@import "tailwindcss";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, Arial, sans-serif;
  overscroll-behavior: none;
  background-color: var(--color-white);
}

:root {
  --custom-header-size: 4rem;
}

.dark {
  --color-black: rgb(255, 255, 255);
  --color-white: rgb(75, 83, 101);

  --color-gray-50: rgb(100, 109, 129);
  --color-gray-100: #383d49;
  --color-gray-200: rgb(68, 73, 86);
  --color-gray-300: rgb(81, 87, 106);
  --color-gray-400: rgb(95, 102, 121);
  --color-gray-500: rgb(117, 126, 146);
  --color-gray-600: rgb(152, 160, 179);
  --color-gray-700: rgb(187, 192, 206);
  --color-gray-800: rgb(227, 230, 238);
  --color-gray-900: rgb(255, 255, 255);

  --color-blue-50: #273c5c;
  --color-blue-100: #385780;
  --color-blue-200: #4b6cb3;
  --color-blue-300: #5a8bf7;
  --color-blue-400: #68a7ff;
  --color-blue-500: #7bc3ff;
  --color-blue-600: #a4daff;
  --color-blue-700: #c2edff;
  --color-blue-800: #e1f6ff;
  --color-blue-900: #f5fcff;
  --color-sky-600: #309ccf;

  /* Greens */
  --color-green-50: #1a3d2b;
  --color-green-100: #2cb36d;
  --color-green-200: #24613f;
  --color-green-300: #2a7b4c;
  --color-green-400: #2f8e59;
  --color-green-500: #34a166;
  --color-green-600: #3bbf7b;
  --color-green-700: #44d18f;
  --color-green-800: #4de3a3;
  --color-green-900: #56f5b7;
}

.dark input,
.dark select {
  @apply bg-gray-400 text-gray-800 placeholder-gray-600;
}

@custom-variant dark (&:where(.dark, .dark *));

.text-title {
  @apply text-gray-800 text-2xl sm:text-4xl;
}

.text-title-blue-gradient {
  @apply text-2xl sm:text-4xl bg-gradient-to-r from-blue-600 to-blue-500 bg-clip-text text-transparent;
}

.text-title-red-gradient {
  @apply text-2xl sm:text-4xl bg-gradient-to-r from-pink-400 to-red-400 bg-clip-text text-transparent;
}

.text-body {
  @apply text-lg text-gray-700;
}

.text-body-blue {
  @apply text-lg text-blue-700;
}

.text-caption {
  @apply text-sm text-gray-500;
}

.text-caption-blue {
  @apply text-sm text-blue-500;
}

.text-caption-red {
  @apply text-sm text-red-500;
}

.text-caption-green {
  @apply text-sm text-green-500;
}

.container-error {
  @apply bg-red-100 border border-red-200 text-red-700 text-center rounded py-2 px-3 mb-2 text-sm;
}

.container-success {
  @apply bg-blue-100 border border-blue-200 text-blue-700 text-center rounded py-2 px-3 mb-2 text-sm;
}

.input-style {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 transition;
}

.card {
  @apply sm:w-3xl sm:mx-auto mx-3 bg-white rounded-2xl shadow-lg p-8 mt-6;
}

.btn {
  @apply font-semibold px-4 py-2 rounded-lg transition shadow focus:outline-none hover:scale-102;
}

.btn-primary {
  @apply font-semibold bg-gradient-to-r from-blue-600 to-blue-500 text-white;
}

.btn-primary-inverted {
  @apply font-semibold bg-gradient-to-l from-blue-600 to-blue-500 text-white;
}

.btn-primary-light {
  @apply font-semibold bg-gradient-to-r from-blue-600 to-blue-500 text-transparent bg-clip-text;
  @apply border-2 border-blue-600/70 backdrop-blur bg-white;
}

.btn-danger {
  @apply font-semibold bg-gradient-to-r from-pink-600 to-red-500 text-white;
}

.btn-danger-light {
  @apply font-semibold bg-gradient-to-r from-pink-400 to-red-400 text-transparent bg-clip-text;
  @apply border-2 border-pink-400/70 backdrop-blur bg-white;
}

.btn-secondary {
  @apply font-semibold bg-gradient-to-r from-gray-600 to-gray-500 text-white;
}

.btn-secondary-light {
  @apply font-semibold bg-gradient-to-r from-gray-500 to-gray-400 text-transparent bg-clip-text;
  @apply border-2 border-gray-500/70 backdrop-blur bg-white;
}

.btn-warning {
  @apply font-semibold bg-gradient-to-r from-yellow-600 to-yellow-500 text-white;
}

.btn-success {
  @apply font-semibold bg-gradient-to-r from-green-500 to-green-600 text-white;
}

.btn-success-light {
  @apply font-semibold bg-gradient-to-r from-green-400 to-green-500 text-transparent bg-clip-text;
  @apply border-2 border-green-400/70 backdrop-blur bg-white;
}

.modal-content {
  -webkit-overflow-scrolling: touch;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-shake {
  animation: shake 0.6s;
}

.animate-spin-slow {
  animation: spin 1.2s linear infinite;
}

.animate-slide-up {
  animation: slide-up 0.8s cubic-bezier(0.16, 1, 0.3, 1) backwards;
}

.animate-slide-down {
  animation: slide-down 2.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.recharts-wrapper * {
  @apply focus:outline-none sm:focus:ring-2 sm:focus:ring-blue-400 sm:transition sm:rounded-lg;
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
